!settings.json
github-copilot/
neofetch/
.vim/
coc/
logs/
.fig/bin/
apps/
animations/
shell/
# themes/
tools/
user/
extensions/
ssh*
tmux
history
.warp/
fig.history
Brewfile.lock.json
.DS_Store
packer_compiled.lua
.zprofile
img/
vscode-dev-containers/
lazy-lock.json
simple-update-notifier/
DMM/
raycast/
yarn
karabiner/automatic_backups/
nv_config_rs/target
configstore/zenn-cli.json
flake.lock
git/
.ssh/id_ed*
.ssh/flk*
.ssh/known_host*
jgit/
.ssh/flect*
configstore/
commit_summary.html
obsidian/
dconf/
gh/
**/target/
gcloud/
**/*nix.conf
mozilla/
pulse/
servo/
vesktop/
fcitx/
ibus/
vesktop/
REAPER/
rover/
cabal/
**/fish_variables
nushell/history.txt
/.serena
/.agent-shell/
